html,
body {
    background-color: #f5f5f5; /* neutral.0 */
    color: #333333; /* neutral.12 */
    font-family: "Helvetica Neue", Helvetica, Arial, "Liberation Sans", sans-serif;
    font-size: 18px;
    line-height: 1.4em;
    margin: 0;
    padding: 0;
    text-rendering: optimizelegibility;
}

::selection {
    background-color: #56c1f8; /* brand_primary.5 (blue) */
}

a,
a:link,
a:visited {
    color: #018dc7; /* brand_primary.9 (blue) */
    text-decoration: none;
}

a:hover,
a:active {
    color: #29aae1; /* brand_primary.7 (blue) */
    text-decoration: underline;
}

.options-page {
    background-color: rgba(252, 252, 253, 1);
}

.options-page #form-wrapper {
    border: 2px solid #676767;
    margin: 0 auto;
    padding: 25px 60px 40px;
    width: 600px;
}

.options-page #controls {
    border-bottom-width: 0;
    margin: 35px auto 50px;
    position: relative;
    width: auto;
}

.options-page .stacked {
    display: inline-flex;
}

.options-page fieldset {
    padding: 0 15px;
}

.options-page .label {
    font-size: 20px;
}

.options-page #extra-options {
    padding: 25px 0 10px;
    text-align: center;
}

.options-page label[for="compact-mode"] .label {
    font-size: 18px;
    font-weight: normal;
}

input[type=text],
input[type=password] {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.2);
    color: #333333;
    font-family: "Helvetica Neue", Helvetica, Arial, "Liberation Sans", sans-serif;
    font-size: 14px;
    line-height: 1.6em;
    padding: 3px 8px;
    transition: border-color 0.2s, box-shadow 0.2s;
}

input[type=text]:focus,
input[type=password]:focus {
    border-color: #56c1f8; /* brand_primary.5 (blue) */
    box-shadow: 0 1px 4px 2px rgba(14, 104, 167, 0.4); /* brand_primary.9 (blue) */
    outline: 0 none;
}

.options-page input[type=text],
.options-page input[type=password] {
    font-size: 20px;
    padding: 1px 8px;
}

#regex {
    box-sizing: border-box;
    margin: 6px 0 12px 12px;
    width: 152px; /* Same size as the select elements. */
    -webkit-font-smoothing: antialiased;
}

#custom-sitename {
    box-sizing: border-box;
    width: 152px; /* Same size as the select elements. */
    -webkit-font-smoothing: antialiased;
}

#custom-sitename-container .label {
    max-height: 25px;
    overflow: hidden;
}

#custom-sitename-container {
    max-height: 0px;
    padding: 0 !important;
    transition: max-height 0.5s, padding 0.5s;
    visibility: hidden;
}

#custom-sitename-container.active {
    max-height: 42px;
    padding: 2.5px 0 !important;
    visibility: visible;
}

.options-page #username {
    margin-bottom: 6px;
}

.validation {
    font-size: 12px;
    margin: 4px 16px 0 0;
    opacity: 0;
    position: absolute;
    right: 0;
}

.validation.visible {
    opacity: 1;
}

#credsChecking {
    color: #444444; /* neutral.4 */
}

#credsSuccess {
    color: #266600; /* state_success.12 (green) */
}

#credsFailure {
    color: #941403; /* state_danger.10 (red) */
}

p.description {
    line-height: 1.6em;
}

p.warning {
    color: #999999;
    font-size: 12px;
    line-height: 1.4em;
}

p.error {
    background-color: #fbf0ef; /* (very light red) */
    border: 1px solid #941403; /* state_danger.10 (dark red) */
    color: #c12317; /* state_danger.9 (red) */
    margin: 1em 2em 1.5em;
    padding: 1em;
    text-align: center;
}

.error a {
    color: #941403; /* state_danger.10 (dark red) */
    text-decoration: underline;
}

.hidden {
    display: none !important; /* From HTML5 Boilerplate https://git.io/vznjw */
}

.transparent {
    opacity: 0 !important;
}

#export-wrapper {
    bottom: 5px;
    font-size: 12px;
    position: absolute;
    right: 10px;
}

#form-wrapper {
    background-color: #e7f0f4; /* light blue */
    border-bottom: 12px solid #004f86; /* brand_primary.11 (dark blue) */
    position: relative;
}

#controls {
    border-bottom: 2px solid #018dc7; /* brand_primary.9 (blue) */
    display: table;
    margin: 0 auto;
    padding: 10px 0;
    text-align: center;
    width: 100%;
}

fieldset {
    border: 0;
    display: inline-block;
    margin: 0;
    padding: 0 20px;
    text-align: start;
    vertical-align: middle;
}

.centered {
    text-align: center;
}

label[for="logtypes"] {
    display: block;
}

.label {
    font-weight: bold;
}

.stacked label {
    display: block;
    padding: 2.5px 0;
}

.align-label-column {
    display: inline-block;
    width: 120px;
}

label[for=regex] .label {
    width: auto;
}

label[for=show-only-me] {
    padding: 2px 0 14px;
}

.stacked select,
select[multiple] {
    background-color: #ffffff;
    border: 1px solid #cccccc; /* neutral.3 */
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.2);
    color: #333333; /* neutral.12 */
    font-family: "Helvetica Neue", Helvetica, Arial, "Liberation Sans", sans-serif;
    font-size: 14px;
    transition: border-color 0.2s, box-shadow 0.2s;
    width: 150px;
    -webkit-font-smoothing: antialiased;
}

.stacked select {
    border-radius: 4px;
    box-sizing: content-box;
    cursor: pointer;
    height: 28px;
    margin: 6px 0;
}

select[multiple] {
    border-radius: 4px 0 0 4px; /* Scrollbars don't accept border-radius. */
}

select[multiple] option {
    padding: 2px 6px;
}

input[type=checkbox] {
    cursor: pointer;
    font-size: 18px;
    transition: border-color 0.2s, box-shadow 0.2s;
}

input[type=checkbox]:hover,
.stacked select:hover,
select[multiple]:hover {
    border-color: #56c1f8; /* brand_primary.5 (blue) */
    box-shadow: 0px 1px 3px 1px rgba(14, 104, 167, 0.2); /* brand_primary.9 (blue) */
}

.stacked select:focus,
select[multiple]:focus {
    border-color: #56c1f8; /* brand_primary.5 (blue) */
    box-shadow: 0 1px 4px 2px rgba(14, 104, 167, 0.4); /* brand_primary.9 (blue) */
    outline: 0 none;
}

#connect {
    background-color: #018dc7; /* brand_primary.9 (blue) */
    border: 1px solid #0e68a7; /* brand_primary.10 (blue) */
    border-radius: 4px;
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    color: #f5f5f5; /* neutral.0 */
    cursor: pointer;
    font-family: "Helvetica Neue", Helvetica, Arial, "Liberation Sans", sans-serif;
    font-size: 21px;
    margin: 22px 0;
    min-width: 132px;
    padding: 6px 12px;
    transition: background-color 0.2s, border-color 0.2s, box-shadow 0.2s;
    -webkit-font-smoothing: antialiased;
}

#connect:hover {
    background-color: #0e68a7; /* brand_primary.10 (blue) */
    border: 1px solid #56c1f8; /* brand_primary.5 (blue) */
    box-shadow: 0px 1px 3px 1px rgba(14, 104, 167, 0.2); /* brand_primary.9 (blue) */
}

#connect:focus {
    box-shadow: 0 1px 4px 2px rgba(14, 104, 167, 0.4); /* brand_primary.9 (blue) */
    outline: 0 none;
}

.message {
    border-bottom: 1px solid #999999;
    padding: 2px;
}

.message span {
    display: inline-block;
}

.collapsed {
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.datetime {
    margin-right: 10px;
    white-space: normal;
    width: 280px;
}

.type {
    margin-right: 10px;
    white-space: normal;
    width: 154px;
}

.received .type::before {
    color: #661078; /* brand_tertiary.11 (dark purple) */
    content: "\25c0 "; /* Unicode BLACK LEFT-POINTING TRIANGLE */
}

.sent .type::before {
    color: #ca3bd5; /* brand_tertiary.7 (purple) */
    content: "\25b6 "; /* Unicode BLACK RIGHT-POINTING TRIANGLE */
}

.here .type::before {
    color: #018dc7; /* brand_primary.9 (blue) */
    content: "\25bc "; /* Unicode BLACK DOWN-POINTING TRIANGLE (\25be looks more appropriately-sized on Windows) */
}

.received .type::before,
.sent .type::before,
.here .type::before {
    display: inline-block;
    margin-right: 5px;
    text-align: center;
    width: 20px;
}

.debug,
.log {
    background-color: #eeeeee; /* neutral.1 */
}

.extension-error {
    background-color: #ffa3ae; /* state_danger.3 (light red) */
}

.apache-request.http-status-200,
.bal-request.http-status-200,
.varnish-request.http-status-200 {
    background-color: #ecf7dd; /* state_success.1 (light green) */
}

.apache-error,
.apache-request.http-status-500,
.bal-request.http-status-500,
.php-error,
.varnish-request.http-status-500 {
    background-color: #ffd1da; /* state_danger.1 (pink) */
}

.apache-request.http-status-400,
.bal-request.http-status-400,
.varnish-request.http-status-400 {
    background-color: #ffdbbb; /* brand_secondary.2 (light orange) */
}

.drupal-request,
.drupal-watchdog {
    background-color: #d6edf9; /* brand_primary.1 (light blue) */
}

.mysql-slow {
    background-color: #fff59d; /* state_warning.3 (yellow) */
}

.compactmode {
    font-size: 12px;
}

.compactmode .datetime {
    width: 188px;
}

.compactmode .type {
    width: 92px;
}

/* Make things align more nicely. */
@media (max-width: 900px) {
    .centered {
        padding-left: 108px; /* Width of the Cloud droplet fieldset for alignment (88px) + 20px normal fieldset padding */
        text-align: start;
    }
    label[for=show-only-me] {
        text-align: center;
    }
    label[for=regex] .label {
        width: 120px;
    }
    .submit {
        box-sizing: content-box;
        text-align: center;
        width: 150px;
    }
    #regex {
        margin-left: 0;
    }
}
